<%- include("templates/header", {title:'Home'}) %>

    <body>
        <%- include("templates/navbar") %>

            <div class="container">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <%- include("templates/footer") %>