<%- include("templates/header", {title:'Home'}) %>

    <div class="container">
        <h1>Titulo del sitio home</h1>
        <h2>
            <%= title %>
        </h2>
    </div>

    <%- include("templates/footer") %>