<!DOCTYPE html>
<html lang="es">

<%- include("templates/header", {title:'Services'}) %>


    <body>
        <%- include("templates/navbar") %>
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
            </div>

            <%- include("templates/footer") %>